@*@using Modules;*@

@*@model Modules.Alumno*@
@model List<Modelo.Alumno>
@{ 
    ViewBag.Title = "Alumno";
    //List<Alumno> listAlum = ViewBag.Alumnos;
}

<h2 class="page-header">
    Alumnos
</h2>

  <table class="table">
      <thead>
          <tr>
              <th>Nombre</th>
              <th style="width:200px;">Sexo</th>
              <th style="width:200px;">Fecha de nacimiento</th>
              <th style="width:200px;"></th>
          </tr>
      </thead>
      <tbody>
          @foreach (var item in Model)
          {
          <tr>
              <td>@string.Format("{0} {1}", item.Nombre, item.Apellido) </td>
              <td>@string.Format("{0}", item.Sexo == "1" ? "Hombre" : "Mujer")</td>
              <td>@item.FechaDeNacimiento</td>
              <td>
                  <a class="btn btn-xs btn-default" href="~/home/GetById/@item.IdAlumno">Visualizar</a>             
                  <a class="btn btn-xs btn-primary" href="~/home/MtAlumno/@item.IdAlumno">Editar</a>            
                  <a onclick="return confirm('¿Deseas eliminar este registro?')" class="btn btn-xs btn-danger" href="~/home/Eliminar/@item.IdAlumno">Eliminar</a>
              </td>
          </tr>
          }
      </tbody>  
  </table>
@*Abajo se muestra como diseñar un formulario usando Html Helper*@
@*@using (Html.BeginForm("Salve","Home",FormMethod.Post))
{
    @Html.HiddenFor(x=>x.Id)
    @Html.LabelFor(x=>x.Nombre)
    @Html.TextBoxFor(x=>x.Nombre,new { @class="form-control"})
    <button type="submit" class="btn btn-primary">Sent</button>
}*@

@*<ul>
    @foreach (var item in listAlum)
    {
    <li>
        <b>Id= @item.Id </b><b>Nombre: @item.Nombre</b>
    </li>       
    }
</ul>*@
