  @model Modelo.Alumno
   @{ 
       ViewBag.Title =string.Format("{0} {1}",Model.Nombre,Model.Apellido);
   }
<ol class="breadcrumb">
    <li><a href="~/">Alumno</a></li>
    <li class="active">@string.Format("{0} {1}", Model.Nombre, Model.Apellido)</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Informacion personal</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Nombre</dt>
            <dd>@Model.Nombre</dd>
            <dt>Apellido</dt>
            <dd>@Model.Apellido</dd>
            <dt>Sexo</dt>
            <dd>@string.Format("{0}", Model.Sexo == "1" ? "Hombre" : "Mujer")</dd>
            <dt>Fecha de nacimiento</dt>
            <dd>@Model.FechaDeNacimiento</dd>
        </dl>
    </div>   
</div>

<div class="panel panel-default">
    <div class="panel-heading">Asignaturas tomadas</div>
    <table class="table">
        <thead>
            <tr>
                <th>Curso</th>
                <th style="width:60px;">Nota</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in  Model.AlumnoCurso)
            {
                <tr>
                    <td>@item.Cuso.Nombre</td>
                    <td class="text-right">@item.NOTA</td>
                </tr>
            }
        </tbody>
    </table>
</div>


