@model Modelo.Alumno
@{
    ViewBag.Title = string.Format("{0}",Model.IdAlumno>0?Model.Nombre+" "+Model.Apellido:"Nuevo registro");
}

@*Diseño de un formumario de mantenimiento Insertar y editar*@
<ol class="breadcrumb">
    <li><a href="~/">Alumnos</a></li>
    <li class="active">@string.Format("{0}", Model.IdAlumno > 0 ? Model.Nombre + string.Empty + Model.Apellido : "Nuevo registro")</li>
</ol>

@using (Html.BeginForm("Salve","Home",FormMethod.Post,new { id="from-alumno"}))
{
    @Html.HiddenFor(x=>x.IdAlumno)
    <div class="panel panel-default">
        <div class="panel-heading">Información personal</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(x=>x.Nombre)
                @Html.TextBoxFor(x=>x.Nombre,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.Nombre,null,new { @class="label label-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x=>x.Apellido)
                @Html.TextBoxFor(x=>x.Apellido,new {@class="form-control"})
                @Html.ValidationMessageFor(x=>x.Apellido,null,new { @class="label label-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x=>x.Sexo)
                <select name="Sexo" class="form-control">
                    <option @(Model.Sexo == "1" ? "selected" : "") value="1">Hombre</option>
                    <option @(Model.Sexo == "2" ? "selected" : "") value="2">Mujer</option>
                </select>
            </div>
            <div class="form-group">
                @Html.LabelFor(x=>x.FechaDeNacimiento)
                @Html.TextBoxFor(x=>x.FechaDeNacimiento,new {@class="form-control" })
                @Html.ValidationMessageFor(x=>x.FechaDeNacimiento,null,new { @class="label label-danger"})
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Gruardar</button>
    </div>
}

